@model Vidly.ViewModels.CustomersIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (@Model.Customers.Count > 0)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr><th>Customer</th></tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr><td>@Html.ActionLink(@customer.Name, "Details", new { customer.Id })</td></tr>
            }
        </tbody>
    </table>
}
else
{
  <p>We don't have any customers yet.</p>
}
